/* TODO fix gutters - they currently drift 11px from the left overlapping the editor text */
.CodeMirror-gutters, .CodeMirror-gutter-wrapper, .history-title-bar {
    display: none !important;
}

.history-contents {
    top: 0 !important;
}

.graphiql-explorer-root {
    overflow: visible !important;
}