@charset "utf-8";

// Set your brand colors
$light: #EEEBE7;
$dark: #78570E;
$darker: #5E514C;
$darkest: #000;
$highlight: #817C78;

$primary: light;
$warning: #FD5619;

// Update Bulma's global variables
/* $family-sans-serif: "Nunito", sans-serif; */
$family-primary: "Butler";
$primary: $light;
$link: $dark;
$widescreen-enabled: true;
$fullhd-enabled: false;


// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

@font-face {
    font-family: WildYouth;
    src: url("../fonts/WildYouth-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler-UltraLight.woff2') format('woff2'),
        url('../fonts/Butler/Butler-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler-Medium.woff2') format('woff2'),
        url('../fonts/Butler/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler-Light.woff2') format('woff2'),
        url('../fonts/Butler/Butler-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler-Black.woff2') format('woff2'),
        url('../fonts/Butler/Butler-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler-Bold.woff2') format('woff2'),
        url('../fonts/Butler/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler-ExtraBold.woff2') format('woff2'),
        url('../fonts/Butler/Butler-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler.woff2') format('woff2'),
        url('../fonts/Butler/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Navbar styles
$navbar-background-color: rgba(255, 255, 255, 0);
$navbar-item-color: rgba(0,0,0,1);
// $navbar-item-color: rgba(255, 255, 255, 0.7);
$navbar-item-hover-color: rgba(255, 255, 255, 1);
$navbar-item-hover-background-color: rgba(0,0,0, 0.5);
$navbar-item-active-background-color: rgba(0,0,0, 0.25);
$navbar-item-active-color: $light;

// Footer styles
$footer-background-color: #f7f8fa;
$footer-color: true;

// Import only what you need from Bulma. By default this starter contains all of the styles.
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/grid/_all.sass";

// Import Extensions
@import "bulma-extensions/bulma-divider/dist/css/bulma-divider.sass";

// Font Awesome styles. Modify this to import only what you need.
@import "~@fortawesome/fontawesome-free/css/all.css";

.light-text {
    color: $light !important;
}

.navbar-donate-button {
    font-weight: bold;
}

.bold-nav-item {
    font-weight: bold;
}

.donate-banner {
    background-color: $warning;
}
.donate-banner-button {
    font-weight: bold;
}

.play-video-link {
    display: inline-block;
    height: 64px;
    width: 64px;
    margin: auto;
    background-image: url('/images/play-video.png');
    background-size: cover;
}

.play-video-link:hover {
    background-image: url('/images/play-video-hover.png');
}

#landing-hero {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#default-hero {
    padding: 0;
}


.donation-box-digit {
    color: $darkest;
    background-color: $light;
    padding: .25em;
    margin: .1em;
}

.inline-margin-icon {
    margin-left: .5em;
    margin-right: .5em;
}

.page-container {
    padding-top: 1.5em;
}

.post-full-content {
    padding: 1.5em;
}

section.content-body p a {
    font-weight: bold;
}

.mission-text-portrait {
    background-color: $highlight;
    padding: 1.5em;
}